/*
.card{
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #f8f9fe;
}

.pc{
    width: 100%;
    min-height: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

hr{
  bottom: 15px;
  width:60%;
}

.main{
  width: 100%;
}
/*第一页*/

.front{
  display: flex;
  border: ;
  text-align: center;
  vertical-align: middle;
  height: 450px;
}
.pc-pt-1{
  width: 50%;

}
.pc-text{
  width: 50%;

}

.fp-control{
  width: 200px;
  height:100px;
  top:50%;
  left:30%;
  position: absolute;
  margin-top:-100px;
  margin-left:-100px;
  display: flex;
  text-align: center;
  vertical-align: middle;
}
.fp-input{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
}

.pci-text{
    white-space: pre-wrap;
}


/*主界面布局*/
/*
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pc-pt{
  width: 60%;
}
.pc-artist{
  width: 30%;
}

.pc-source{
  width: 100%;
}

.pc-st{
  width: 100%;
}

.pc-at{
  width: 30%;
}
.pc-pm{
  width: 30%;
}
.pc-pi{
  width: 30%;
}

.pc-stickers{
  width: 100%;
}

.pc-mugs{
  width:50%;
}

.pc-cc{
  width: 50%;
}

.cg-form-control{
  border-radius: 5px;
  justify-content: center;
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 15px;
}




/**/
/*
.input-group-cf{
    border-radius: 0px;
    width: 100%;
}





/*格子布局*/
/*
.form-control{
  width: 190px;
  height: 50px;
  border-radius: 5px;
  text-align: center;

  font-size: 18px;
}
.form-group{
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
/*按键*/
/*
.btn-check, .btn-wd{
  display: flex;
  width:60px;
}

.create-butten{
  height:90px;
  width: 200px;

}
.create-btn{
  position: relative;
  top: 40px;
  left: 40px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color: Light-grey;
}
/*字体*/
/*
h1{
  font-size: 20px;
}
label{
  font-size: 15px;
}
/*创建页布局*/
/*
.pc-pc{
  display: flex;
  width: 100%;
}
.second{
  width: 60%;
}

.pc-cg{
  width: 20%;
  border: solid;
  text-align: center;
  vertical-align: middle;
}
.cg-contol{
  text-align: center;
  vertical-align: middle;
}

.pc-kw{
  width: 20%;
  border: solid;
  text-align: center;
  vertical-align: middle;
}
.kw-control{

}


/**/
/*
.category-list{
  list-style: none;
  width: 100%;

}
.ul, .li{
  border: solid;
  border-width: thin;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

label{
  font-size: 20px;
}

.hr{
  width:400px;
}
.hr-mugs{
  width:600px;
}
.hr-stickers{
  width: 1000px;
}
*/

.card{
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;

}

body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #f8f9fe;
}

.pc{
  width: 100%;
  min-height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.hr{
bottom: 15px;
width:60%;
}

.main{
width: 100%;
}



/*主界面布局*/
.row{
display: flex;
width: 100%;
flex-wrap: wrap;
}

.pc-pt{
width: 50%;
}
.pc-artist{
width: 50%;
}

.pc-source{
width: 100%;
}

.pc-st{
width: 100%;
}

.pc-at{

}
.pc-pm{

}
.pc-pi{

}

.pc-kids{

width: 50%;

}

.pc-stickers{
/* width:  ; */
}

.pc-mugs{
width:50%;


}

.pc-cc{
width: 50%;
}


.cg-form-control{
border-radius: 5px;
justify-content: center;
width: 150px;
height: 40px;
text-align: center;
font-size: 15px;
}

/*格子布局*/
.form-control{
width: 90px;
height: 30px;
border-radius: 5px;
text-align: center;
border: solid;
font-size: 18px;
}
.form-group{
width: auto;
height: 30px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
}
/*按键*/
.btn-check, .btn-wd{
display: flex;
width:60px;
}

.create-butten{
height:90px;
width: 200px;

}
.create-btn{
position: relative;
top: 40px;
left: 40px;
width: 150px;
height: 40px;
font-size: 15px;
background-color: Light-grey;
}
/*字体*/
.h1{
font-size: 15px;

}
.label{
font-size: 15px;
}
/*创建页布局*/
.pc-pc{
display: flex;
width: 100%;
}
.second{
width: 60%;
}

.pc-cg{
width: 20%;
/* border: solid; */
text-align: center;
vertical-align: middle;
}
.cg-contol{
text-align: center;
vertical-align: middle;
}

.pc-kw{
width: 20%;
/* border: solid; */
text-align: center;
vertical-align: middle;
}
.kw-control{

}


/**/
.category-list{
list-style: none;
width: 100%;

}
.ul, .li{
border: solid;
border-width: thin;
font-size: 20px;
margin: 0;
padding: 0;

}

.hr{
width:400px;
}
.hr-mugs{
width:600px;
}
.hr-stickers{
width: 500px;
}

.label{
font-size: 20px;
}