.App {
  width: 100%;
  height: 100%;
  background-color: #f4f3f4;
}

container {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #323f52;
  color: #f4f3f4;
}

.sidebar-logo {
  display: block;
  padding: 20px;
  margin: auto;
  width: auto;
}

.sidebar-list {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar-list .row.list-container,
.sidebar-list .row .sublist-container {
  display: flex;
  height: 50px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sublist.hidden {
  display: none;
  height: 0;
  padding: 0;
  margin: 0;
}

.sidebar-list .row ul {
  padding: 0;
}

.sidebar-list .row.list-container:hover,
.sidebar-list .row.sublist-container:hover {
  cursor: pointer;
  background-color: #2c3745;
}

.row.list-container#active {
  background-color: #2c3745;
}

.row.no-arrow.list-container#active {
  background-color: #2c3745;
}

.sidebar-list .row.sublist-container#active {
  background-color: #2c3745;
}

.row.list-container,
.row.sublist-container {
  display: flex;
  align-items: center;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-container #icon {
  flex: 3;
  display: grid;
  place-items: center;
}

.list-container #title {
  flex: 6;
}

.row.sublist-container #title {
  flex: 7;
}

.row.sublist-container div {
  flex: 3;
}

#arrow {
  transition: transform 0.3s ease-in-out;
}

#arrow.rotate {
  transform: rotate(90deg);
}

.list-container #arrow {
  flex: 1;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: #f4f3f4;
}

.row.no-arrow.list-container #icon {
  flex: 3;
  display: grid;
  place-items: center;
}

.row.no-arrow.list-container #title {
  flex: 7;
}
